.learning-p {
    padding-left: 20px;
    width: 500px;
  }
  .learning-list {
    padding-left: 20px;
    width: 500px;
    list-style: none;
    margin: 5px 0px;
  }
  
  .learning-list li{
    margin: 5px 0px;
  }

  .highlight {
    color: #f589ff;
  }

 